.gender-text {
    font-family: "Roboto Condensed";
    font-size: 1rem;
    letter-spacing: 0.02rem;
    margin: 0 0 0.2rem 0;
}

.gender-row {
    display: flex;
    flex-direction: row;
}

.gender-label {
    font-family: "Roboto Condensed";
    font-size: 1rem;
    letter-spacing: 0.02rem;
    margin:  0 5rem 0 0;
    cursor: pointer;
}

.radio-gender-input {
    margin: 0 0.2rem 0 0;
    cursor: pointer;
}