@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.lastname-text {
    font-family: "Roboto Condensed";
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

.lastname-value {
    width: 8rem;
    height: 1.2rem;
    padding-left: 0.2rem;
}

.lastname-value:focus {
    outline: 1px solid black;
}